---
BasedOnStyle: WebKit
AlignAfterOpenBracket: Align
AlignConsecutiveDeclarations: 'false'
BreakBeforeBraces: Allman
NamespaceIndentation: All
AttributeMacros:
  - XSIMD_CALLCONV
  - XSIMD_CREF
  - XSIMD_FORCEINLINE
  - XSIMD_NODISCARD
...
