# This is a Pixi configuration file optionally used for development.
#
# Pixi automatically manages Conda environment (in .pixi folder) and series
# of tasks to run in these environment.
# The most relevant task is `test`, that can be run directly.
# Because we created multiple environments for different compilers, it is easier to specify
# it as a command line argument.
#
#     pixi run -e clang-21 test
#
# We can also combine it with CMake presets to target a particular architecture, which is
# convenient to test less powerful architecture that one's computer.
#
#     pixi run -e clang-21 test dev-sse2
#
# The file is also useful for running development scripts, such as formatting the codebase:
#
#     pixi run fmt
#
# All documentation, including installation instructions can be found in at
# https://pixi.sh


[workspace]
channels = ["conda-forge"]
platforms = ["linux-64", "linux-aarch64", "osx-arm64", "osx-64"]

# Basic build tools to include in any compiler environment
[feature.build-tools.dependencies]
cmake = ">=3.16"
ninja = "*"
sccache = "*"
[feature.build-tools.target.linux.dependencies]
binutils = "*"
[feature.build-tools.target.osx.dependencies]
cctools = ">=949.0.1"
ld64 = ">=530"
llvm-openmp = "*"

# Libraries needed by the project
[feature.lib.dependencies]
xtl = "*"
doctest = "*"

# A set of clang dependencies that include a set of unconstrained needed packages.
# We combine it with another feature to pin an exact version.
[feature.clang-base.dependencies]
clang = "*"
clangxx = "*"
[feature.clang-base.activation.env]
CC = "$CONDA_PREFIX/bin/clang"
CFLAGS = "-isystem $CONDA_PREFIX/include"
CXX = "$CONDA_PREFIX/bin/clang++"
CXXFLAGS = "-isystem $CONDA_PREFIX/include"
LDFLAGS = "-Wl,-rpath,$CONDA_PREFIX/lib -L$CONDA_PREFIX/lib"

# clang-18 compiler environment
[feature.clang-18.dependencies]
clang = "18.*"
[environments.clang-18]
features = ["cmd", "build-tools", "lib", "clang-base", "clang-18"]

# clang-21 compiler environment
[feature.clang-21.dependencies]
clang = "21.*"
[environments.clang-21]
features = ["cmd", "build-tools", "lib", "clang-base", "clang-21"]

# A set of gcc dependencies that include a set of unconstrained needed packages.
# We combine it with another feature to pin an exact version.
[feature.gcc-base.target.linux.dependencies]
gcc = "*"
gxx = "*"
[feature.gcc-base.activation.env]
CC = "$CONDA_PREFIX/bin/gcc"
CFLAGS = "-isystem $CONDA_PREFIX/include"
CXX = "$CONDA_PREFIX/bin/g++"
CXXFLAGS = "-isystem $CONDA_PREFIX/include"
LDFLAGS = "-Wl,-rpath,$CONDA_PREFIX/lib -L$CONDA_PREFIX/lib"

# gcc-15 compiler environment
[feature.gcc-15.target.linux.dependencies]
gcc = "15.*"
[environments.gcc-15]
features = ["cmd", "build-tools", "lib", "gcc-base", "gcc-15"]

# A feature to group a set of build and test tasks that can be included in multiple environment
[feature.cmd.tasks.configure]
args = ["preset"]
cmd = """
cmake -B build/$PIXI_ENVIRONMENT_NAME/{{ preset }} -G Ninja \
  --preset {{ preset }} \
  -D CMAKE_COLOR_DIAGNOSTICS=ON \
  -D CMAKE_C_COMPILER_LAUNCHER="sccache" \
  -D CMAKE_CXX_COMPILER_LAUNCHER=sccache \
  -D CMAKE_EXPORT_COMPILE_COMMANDS=ON \
"""
inputs = ["**/CMakeLists.txt", "**/*.cmake.in", "cmake/"]
outputs = ["build/$PIXI_ENVIRONMENT_NAME/{{ preset }}/CMakeCache.txt"]

[feature.cmd.tasks.build]
args = ["preset"]
cmd = "cmake --build build/$PIXI_ENVIRONMENT_NAME/{{ preset }} --parallel"
depends-on = [{ task = "configure", args = ["{{ preset }}"] }]

[feature.cmd.tasks.test]
args = [{ arg = "preset", default = "debug-native" }]
cmd = "./build/$PIXI_ENVIRONMENT_NAME/{{ preset }}/test/test_xsimd"
depends-on = [{ task = "build", args = ["{{ preset }}"] }]

# A dev feature and environment that contains LSP, formatters etc.
[feature.dev.dependencies]
taplo = "*"
cmake-format = "*"
clang = "17.*"
clangxx = "17.*"
clang-tools = "17.*" # matching clang-format version in CI
lld = "*"
typos-lsp = "*"
neocmakelsp = "*"
[feature.dev.target.linux.dependencies]
gdb = "*"
valgrind = "*"
[feature.dev.target.osx.dependencies]
lldb = "*"

[feature.dev.tasks.fmt-clang]
cmd = "find . -name '*.[ch]pp' | xargs clang-format -i"
inputs = ["**/*.*pp"]
outputs = ["**/*.*pp"]

[feature.dev.tasks.init-lsp]
cmd = "ln -sf build/dev/debug-native/compile_commands.json"
depends-on = [
  { task = "configure", args = [
    "debug-native",
  ], environment = "dev" },
]
outputs = ["compile_commands.json"]

[feature.dev.tasks]
fmt-taplo = "taplo fmt"
fmt = { depends-on = ["fmt-clang", "fmt-taplo"] }

[environments]
dev = { features = [
  "build-tools",
  "lib",
  "clang-base",
  "dev",
  "cmd",
], solve-group = "default" }
